<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Board</title>
</head>
<body>
<th:block th:insert="~{fragments::header('마스터코딩')}"></th:block>

<div class="container mt-5">
    <h2>난이도 선택</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>제목</th>
            <th>난이도</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}"> <td>
            <a th:href="@{/exam(tId=${board.tId})}" th:text="${board.tTitle}"></a>
        </td>
            <td th:text="${board.level}"></td>
            <td th:text="${#dates.format(board.tWriteTime, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="paging-area">
        <div class="paging" th:utext="${paging}"></div>
    </div>
</div>
</body>
</html>