<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:insert="~{fragments::header('마스터코딩')}"></th:block>

<div class="container">
    <form action="test_register" method="post">
        <label>단계</label>
        <select name="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br>
        <label>제목</label>
        <input type="text" name="tTitle" required /><br>
        <label>테스트 질문</label>
        <input type="text" name="tQuestion" required /><br>
        <label>테스트 정답</label>
        <input type="text" name="tAnswer" required /><br>
        <button type="submit">저장</button>
    </form>
</div>
<th:block th:insert="~{fragments::footer}"></th:block>
<script>

</script>
</body>
</html>