<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script>
        var IMP;
            IMP = window.IMP;
            IMP.init('[[${apiKey}]]');

        function requestPay() {
            IMP.request_pay({
                pg: "html5_inicis",
                pay_method: "card",
                merchant_uid: $("#buyerName").val() + new Date().getTime(),   // 주문번호
                name: "실전 코딩 테스트",
                amount: 100,                         // 숫자 타입
                buyer_email: "gildong@gmail.com",
                buyer_name: "홍길동"
            }, function (rsp) { // callback
                $.ajax({
                   type: 'POST',
                   url: '/verify/' + rsp.imp_uid
                }).done(function(data) {
                    if(rsp.paid_amount === data.response.amount){
                        alert("결제 성공");
                    } else {
                        alert("결제 실패");
                    }
                });
            });
        }

    </script>
</head>
<body>
<button onclick="requestPay()">결제하기</button>
</body>
</html>